@font-face {
    font-family: "Ancuu Bold";
    src: url("/fonts/Ancuu Bold/Ancuu Bold.ttf") format("ttf"),
        url("/fonts/Ancuu Bold/Ancuu Bold.woff") format("woff"),
        url("/fonts/Ancuu Bold/Ancuu Bold.woff2") format("woff2");
}
@font-face{
    font-family: "Bignoodletitling";
    src: url("/fonts/Bignoodletitling/big_noodle_titling.ttf") format("ttf"),
    url("/fonts/Bignoodletitling/big_noodle_titling_oblique.ttf") format("ttf");
}