html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
body{
    font-family: $font-roboto;
    font-family: $font-openS;
    font-size: 14px;
    
}
a{
    display: inline-block;
    text-decoration: none;
    color:$font-color;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
select{
    border: none;
    background: transparent;
    appearance: none;
    margin: 0;
    padding: 0;
    width: 20px;
}
select:invalid:focus{
    color:#d7d7d7;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.outer{
    padding: 0 20px;
}
.burger-icon{
    display: none;
}
.shop-btn {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    font-family: $font-roboto;
    text-transform: uppercase;
    padding-right: 10px;
    position: relative;
    width: 100px;
    color:#111;
    transition:all .3s linear;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -ms-transition:all .3s linear;
    -o-transition:all .3s linear;
    &:hover{
        color:lighten(#111, 50%);
        &::after{
            border-left: 5px solid lighten(#111, 50%);
        }
    }
    &::after{
        content: '';
        position: absolute;
        height: 8px;
        width: 5px;
        top: 0;
        right: 0;
        border: 5px solid transparent;
        border-left: 5px solid #111;
    }
}
.hot{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    background-image: url(../img/hot.svg);
    height: 50px;
    width: 20px;
}
.new {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/new.svg);
    height: 50px;
    width: 20px;
}
.sale {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/sale.svg);
    height: 50px;
    width: 20px;
}
.title {
    padding-bottom: 10px;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 1px;
        background-color: #111;
    }
}
.products-item {
    width: 270px;

    &__img {
        position: relative;
        &:hover .products-item__options {
            opacity: 1;
        }
        .products-item__options {
            position: absolute;
            left: 0;
            bottom: 35px;
            width: 270px;
            opacity: 0;
            transition: all .5s linear;
            -webkit-transition: all .5s linear;
            -moz-transition: all .5s linear;
            -ms-transition: all .5s linear;
            -o-transition: all .5s linear;

            .list-options {
                height: 40px;
                display: flex;
                background-color: #fff;
                justify-content: center;
                align-items: center;


                li:nth-child(2) {
                    margin: 0 30px;
                }
                li{
                    a{
                        transition: all .4s linear;
                        -webkit-transition: all .4s linear;
                        -moz-transition: all .4s linear;
                        -ms-transition: all .4s linear;
                        -o-transition: all .4s linear;
                        .cls-1 {
                            fill: #464646;
                        }

                        &:hover {
                            .cls-1 {
                                fill: #0065f8;
                            }
                        }
                    }
                }
            }
        }
    }

    &__name {
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: $font-roboto;
        font-weight: 300;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        &-price {
            font-size: 18px;
            font-family: $font-roboto;
            font-weight: normal;

            span {
                font-size: 12px;
                color: #898989;
                text-decoration: line-through;
            }
        }

        &-rating {
            .stars {
                display: flex;
            }
        }
    }
}
